body {
    background-color: whitesmoke;
    font-family: 'Source Code Pro', monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

h1{
    text-align: center;
}

form {
    width: 25rem;
margin: auto;
    background-color: white;
    border-radius: 12px;
    padding: 20px 25px;
    margin-top: 12.5ch;

}

#name{
    width: 195px;
}

input {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: rgb(225, 225, 225);
    border-radius: 0.25em;
    color: black;
    font-family: 'Source Code Pro', monospace;
}

input:hover{
    outline: none;
    border-color:rgb(41, 4, 164);
    box-shadow: 0 0 4px rgb(41, 4, 164);
}

button {
    background-color: rgb(68, 18, 232);
    color: white;
    margin: 10px 17ch;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
    border: none;
    width: 20ch;
}

button:hover {
    cursor: pointer;
    background-color: rgb(41, 4, 164);
}

@media screen and (max-width: 600px) {
    form {
        width: 25rem;
    }
}

@media screen and (max-width: 400px) {
    form {
        width: 20rem;
    }
}