<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | Welcome</title>
    <link rel="icon" type="image/x-icon" href="./welcome fevicon .png">
    <link rel="stylesheet" href="/css/welcome.css">
    <script src="https://kit.fontawesome.com/0c7f9f833c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <a class="icon" href="/">
            <i class="fa-brands fa-quinscape"></i>
        </a>

        <ul>
            <li><a href="#about">
                    <p style="border: none ;">About</p>
                </a>
            </li>

            <li class="dropdown">
                <button class="dropbtn">Login</button>
                <div class="dropdown-content">
                    <a href="/staffLogin">Staff</a>
                    <a href="/studentLogin">Student</a>
                </div>     
            </li>

            <li class="dropdown">
                <button style="margin-right: 7ch;" class="dropbtn">Register</button>
                <div class="dropdown-content">
                    <a href="/staffRegister">Staff</a>
                    <a href="/studentRegister">Student</a>
                </div>
            </li>

        </ul>
    </div>

    <div class="content">
        <img src="./welcome Bg.png" alt="">
        <h2>Welcome to Quiz..</h2>
    </div>

    <div id="about" style="margin-top:10ch ;">
        <div style="margin:12ch 0 ;">
            <h1>ABOUT</h1>
            <br>
            <form style="margin: 0 40ch;">
                <ul style="color: rgb(217, 242, 246) ;">
                    <li>> This quiz app is for an educational institute where they can do the following</li>
                    <li>> Admin will be able to create quiz with various instructions regarding the quiz, questions,
                        answers
                        explanations and duration for the quiz.</li>
                    <li>> At any point of time admin can enable or disable the quiz itself.</li>
                    <li>> At any point of time admin can enable or disable any question.</li>
                    <li>> At any point of time admin can add, remove or edit the question for an existing quiz.</li>
                    <li>> Apart from the admin rest of the users can only see the quiz and questions.</li>
                </ul>
            </form>
        </div>
    </div>
    
</body>

</html>